<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='/favicon/site.webmanifest') }}">
    {% block files %}
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__wrapper">
                    <a href="/dashboard" class="logo">ProxyCloud</a>
                    {% if data %}
                    <a href="/logout" class="exit__button">Exit</a>
                    {% endif %}
                </div>
            </div>
        </header>
        <main class="main">
            {% block content %}{% endblock %}
        </main>
        <footer class="footer">
            <div class="container">
                <p class="footer__text">© 2025 ProxyCloud.</p>
            </div>
        </footer>
    </div>
</body>
</html>